/* 初始化代码 */
/* 谁用就链接即可 */
body,
div,
span,
p,
a,
img,
input,
ul,
li,
strong,
del,
i,
em,
ins,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  border: none;
  outline: none;
}
img {
  border: none;
  vertical-align: middle;
}
i {
  font-style: normal;
}
html,
body {
  font-size: 12px;
  line-height: 1;
  height: 100%;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
